td {
	padding:10px;
}

body {
	color:orange;
	background-color:purple;
}

a {
	color:orange;
}

button > a {
	color:inherit;
	text-decoration:none;
  cursor:default;
}

table.sortable th {
	cursor: pointer; 
	cursor: hand;
}


table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
	/*content: "\25B4\25BE" */
	content: " \2666"
}

#confirm
{
    font-size:300%;
    text-align:center;
}

#welcome
{
    font-size:150%;
    text-align:center;
}

#continue
{
    font-size:120%;
    text-align:center;
}

#header
{
    padding: 0.3em 0; 
    border-bottom: 1px solid; 
    overflow: hidden; 
    zoom: 1;
}

#footer
{
    padding: 0.3em 0; 
    border-bottom: 1px solid; 
    overflow: hidden; 
    zoom: 1;
    bottom:20;
    width:100%;
}
#login-status
{
    margin: 0px;
    padding: 0px;
    float: right;
}
